/* 섹션 상단 탭 CSS */
.section-top ul li{
  display: flex;
  padding: 0;
  margin-bottom: 24px;
}
.section-top ul li h2{
  display: inline-block;
  margin-bottom: 10px;
  width: 150px;
  text-align: left;
  transform: translateY(-95px);
}
/* 전체 카테고리 영역 */
.section-top {
    width: 1280px;
    margin: 0 auto;
}
.buttonTab{
  width: 700px;
  display: flex;
  gap: 30px;
  border-left: 1px solid #ccc;
  padding-left: 50px;
  font-size: 18px;
}
.buttonTab-Cuisine {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(6, 120px);
    border-left: 1px solid #ccc;
    padding-left: 50px;
    gap: 20px;
    font-size: 18px;
}
.buttonTab button{
    width: 110px;
    height: 50px;
    line-height: 50px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    transition: 0.2s;
}
.buttonTab-Cuisine button{
    width: 110px;
    height: 50px;
    line-height: 25px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.buttonTab button:hover,
.buttonTab-Cuisine button:hover {
    background: #ff8c42;
    color: white
}

.close-top{
    width: 1280px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.close-top .hide{
  transition: 0.3s;
}
.close-top .hide:hover{
  transform: translateY(-5px);
  text-decoration: underline;
}
.section-main {
  width: 1280px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 8px;
}
.eachItem {
  background: white;
  border-radius: 12px;
  padding: 15px;
  border: 1px solid #eee;
  height: 100%;
}
.eachItem ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.itemimg {
  width: 200px;
  transition: 0.25s;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  cursor: pointer;         
  margin-bottom: 20px;
}

.itemimg:hover {
  transform:translateY(5px)
}
.itemname {
  font-size: 16px;
  color: #333;
  height: 40px;
}
.rating img{
  width: 15px;
  height: 15px;
}
.itemcuisine {
  font-size: 13px;
  color: #666;
}
.btn{
  height: 30px;
  margin: 10px;
  line-height: 18px;
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 5px 10px;
  background: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.btn-active{
  height: 30px;
  margin: 10px;
  line-height: 18px;
  border-radius: 6px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background: #ff8c42;
  color: white;
  cursor: pointer;
}
