button{ 
    display:flex;
    justify-content:space-around;
    width: 200px;
    padding: 20px 0;
    font-size: 20px;
    background-color: rgb(223, 71, 71);
    color: white;
    border: none;
    transition: 0.3s;
    border-radius: 15px;
    margin: 10px auto;
}
button:hover{
    background-color: rgb(116, 0, 0);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    transform: scale(1.05);
}