#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* 
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  background: #fafafa;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  padding: 8px 14px;
  border: none;
  background: #0078ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}


header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 12px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 20px;
  margin: 0;
}

header a {
  margin-right: 16px;
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
}


.page-box {
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}


form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.profile-text {
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 10px;
}


.home-title {
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
} */
