.section-container{
  margin-top: 50px;
}
.section-main {
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 0 auto;
}

.intro {
  width: 1280px;
  margin: 0 auto;
}

h2 {
  margin-top: 100px;
  text-align: center;
}



