.footer-container {
  background: #fff;
  border-top: 1px solid #ddd;
  margin-top: 40px;
  padding-bottom: 40px;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}
.eew{
  width: 1280px;
  margin: 0 auto;
}
.footer-menu {
  display: flex;
  justify-content: center;
  gap: 28px;
  padding: 14px 0;
  font-size: 13px;
  color: #444;
  border-bottom: 1px solid #eee;
  flex-wrap: wrap;
}
.footer-menu li {
  cursor: pointer;
}
.footer-content {
  max-width: 1200px;
  margin: 40px auto 0;
  display: flex;
  gap: 60px;
  padding: 0 20px;
  flex-wrap: wrap;
}
.footer-content img{
  margin-top: 100px;
}
.footer-center {
  width: 250px;
  border-right: 1px solid #eee;
  text-align: left;
  padding-left: 50px;
}
.footer-center h3 {
  font-size: 18px;
  margin-bottom: 6px;
}
.footer-center .number {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-info {
  flex: 1;
  border-left: 1px solid #eee;
  text-align: left;
  padding-left: 80px;
}
.footer-logo {
  height: 60px;
  margin-bottom: 10px;
}
.footer-info p {
  font-size: 14px;
  color: #666;
  margin-bottom: 6px;
}

