.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 20px;
  margin: 0 0 20px 0;
  border-top: 1px solid #999;
}

.product-item {
  background-color: #fff;
  border-radius: 10px;
  border-radius: 1px solid #999;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}
.product-item:hover{
  transform: scale(1.1);
}
.product-item:hover>.product-img{
  transform: scale(1.3);
}
.product-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.product-title {
  display: block;
  width: 200px; /* 또는 100%, 또는 부모가 width를 가짐 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.product-price {
  font-weight: bold;
  margin: 5px 0;
  display: block;
}

.add-cart-btn {
  margin-top: 10px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-cart-btn:hover {
  background-color: rgb(139, 139, 139);
}
.cart-container {
    padding: 20px;
}

.cart-list {
    list-style: none;
    padding: 30px 0 0 0;
    margin: 0 0 20px 0;
    border-top: 1px solid #999;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    background-color: #fff;
    border-left: 4px solid #333;
    border-radius: 10px;
    margin-bottom: 15px;
}

.cart-item:hover{
  background-color: #999;
}
.cart-img {
    width: 80px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.cart-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-title {
    font-size: 1rem;
    width: 700px;
    text-align: left;
}
.qty{
  width: 40px;
  font-family: bold;
}
.qty-btn {
  font-size: 28px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.qty-btn:hover{
  font-weight: bold;
}
.remove-btn {
    padding: 6px 10px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.2s;
}
.cart-bottom{
  display: flex;
  margin-top: 20px;
  padding: 15px;
  justify-content: space-between;
  border-top: 1px solid #999;
}
.clear-cart-btn {
    padding: 6px 10px;
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.clear-cart-btn:hover, .remove-btn:hover{
  background-color: black;
  color: #fff;
}
